*.ldf
*.suo
*.refactorlog
*.mdf
*.dll
*.dacpac
*.jfm
*.dbmdl
DeviceManagement/DeviceManagement.BBDD/obj/Debug/DeviceManagement.BBDD.sqlprojAssemblyReference.cache
DeviceManagement/DeviceManagement.BBDD/obj/Debug/DeviceManagement.BBDD.sqlproj.FileListAbsolute.txt
*.pdb
/DeviceManagement/DeviceManagement.BBDD/obj/Debug/Model.xml
*.ide-wal
*.ide-shm
*.ide
*.lock
